body{margin:0;padding:0;background:#ffe;font-size:14px;font-family:'微软雅黑','宋体',sans-serif;color:#231F20;overflow:auto}
a {color:#000;font-size:14px;}
#main{width: 100%}
#wrap{position:relative;margin:0 auto;width:1100px;height:680px;margin-top:10px;}
#text{width:290px;
height:560px;
left:140px;
top:70px;position:absolute;
line-height: 160%
}

#code{display:none;font-size:16px;}
#clock-box {position:absolute;left:60px;top:500px;font-size:28px;display:none;}
#clock-box a {font-size:28px;text-decoration:none;}
#clock{margin-left:48px;}
#clock .digit {font-size:64px;}
#canvas{margin:0 auto;width:1100px;height:680px;}
#error{margin:0 auto;text-align:center;margin-top:60px;display:none;}
.hand{cursor:pointer;}
.say{margin-left:5px;}
.space{margin-right:150px;}


#picture{width: 200px;height: 200px;overflow: hidden;position: absolute;border-radius: 20px;}
#all-picture{
				height:200px;
				width: calc(200px * 5);/*如果加图片自行添加数目我这里5张图片所以宽度为5张图片横排的总尺寸，注意添加图片数目之后，动画内的参数也要相应的改变*/
				animation: switch ease 15s infinite ;z-index: 9;
			}
			#all-picture img{
				width:200px;height: 200px;float: left;
			}
			#all-picture:hover{animation-play-state: paused;}
			@keyframes switch{/*每个图片切换有两个阶段：位移切换和静置。所以中间的效果可以任意定制，我这里在每个阶段切换时都有一定的时间来静置*/
				0%,10%{margin-left: 0;}
				20%,30%{margin-left: -200px;}
				40%,50%{margin-left: -400px;}
				60%,70%{margin-left: -600px;}
				80%,90%{margin-left: -800px;}
				100%{margin-left: 0px;}
				
			}
			@keyframes picture1{
				0%{margin-left: -800px;}
				100%{margin-left: 0px;}
			}
			@keyframes picture2{
				0%{margin-left: 0px;}
				100%{margin-left: -200px}
			}
			@keyframes picture3{
				0%{margin-left: -200px;}
				100%{margin-left:-400px}
			}
			@keyframes picture4{
				0%{margin-left: -400px;}
				100%{margin-left:-600px}
			}
			@keyframes picture5{
				0%{margin-left: 0px;}
				100%{margin-left:-800px}
			}
			#a1:hover ~ #all-picture{animation: picture1 ease 0.5s forwards;}
			#a2:hover ~ #all-picture{animation: picture2 ease 0.5s forwards;}
			#a3:hover ~ #all-picture{animation: picture3 ease 0.5s forwards;}
			#a4:hover ~ #all-picture{animation: picture4 ease 0.5s forwards;}
			#a5:hover ~ #all-picture{animation: picture5 ease 0.5s forwards;}
            .num1{width: 40px;height: 20px;position: absolute;top:180px;left: 0px;}
			.num2{width: 40px;height: 20px;position: absolute;top:180px;left: 40px;}
			.num3{width: 40px;height: 20px;position: absolute;top:180px;left: 80px;}
			.num4{width: 40px;height: 20px;position: absolute;top:180px;left: 120px;}
			.num5{width: 40px;height: 20px;position: absolute;top:180px;left: 160px;}
			.num1,.num2,.num3,.num4,.num5{text-align: center;line-height: 20px;}
			a:hover{background-color:black;opacity:1;color: yellow;font-size: large;font-weight: bolder;}
			a{opacity:0.5;color:white;background-color: #000000;}
			a:hover ~ #all-picture:hover{animation-play-state: paused;}